/* Style for group popup */

.bootstrap-select .btn {
  background-color: white !important;
  border: 1px solid #ccc !important;
}

.shiny-notification {
  width: 50%;
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  z-index: 1000; 
}

.custom-width-button {
  width: 210px;
}

.custom-width-kj {
  width: 25vw; /* Adjust the width as needed */
}

.custom-height-kj {
  height: 40vh; /* Adjust the height as needed */
}

.custom-box-kj {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  display: inline-block;
}

.custom-blue-box {
  background-color: #002D7C;
  color: white; /* Optionally, set text color to white for better visibility */
}

.custom-width-half {
  width: 50vw; /* Adjust the width as needed for half of the box */
}
